body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



.carousel-container {
    display: none;
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_img {
    width: 500px;
    border-radius: 50%;
    object-fit: cover;
    height: 500px;
    display: block;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}


/* For bigger screens */
.lap-carousel-container {
    /* display: none; */
    position: relative;
    width: 80%;
    min-width: 1600px;
    margin: auto;
    overflow: hidden;
}

.lap-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.lap-carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lap-slide_img {
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    display: block;
}

.lap-carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

#lap-prevBtn {
    left: 10px;
}

#lap-nextBtn {
    right: 10px;
}

@media only screen and (max-width: 600px) {
    .carousel-slide {
        min-width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide_img {
        width: 100px;

        border-radius: 50%;
        object-fit: cover;
        height: 100px;
        display: block;
    }

    .carousel-container {
        display:block;
        position: relative;
        width: 90%;
        max-width: 800px;
        margin: auto;
        overflow: hidden;
        margin-bottom: 50px;
    }

        .lap-carousel-container{
            display: none;
        }
}

@media only screen and (min-width: 601px) {
    .carousel-slide {
        min-width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide_img {
        width: 100px;

        border-radius: 50%;
        object-fit: cover;
        height: 100px;
        display: block;
    }

    .carousel-container {
        position: relative;
        width: 90%;
        max-width: 800px;
        margin: auto;
        overflow: hidden;
        margin-bottom: 50px;
    }

}

/* @media only screen and (max-width: 768px) {
    .carousel-slide {
        min-width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide_img {
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
        height: 100px;
        display: block;
    }

    .carousel-container {
        display: flex;
        position: relative;
        width: 90%;
        max-width: 800px;
        margin: auto;
        overflow: hidden;
        margin-bottom: 50px;
    }

         .lap-carousel-container {
             display: none;
         }
} */

@media only screen and (min-width: 768px) {
    .carousel-slide {
        min-width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide_img {
        width: 300px;

        border-radius: 50%;
        object-fit: cover;
        height: 300px;
        display: block;
    }

    .carousel-container {
        display: block;
        position: relative;
        width: 90%;
        max-width: 800px;
        margin: auto;
        overflow: hidden;
        margin-bottom: 50px;
    }

    .lap-carousel-container{
        display: none;
    }
}


@media only screen and (min-width: 992px) {
    .carousel-slide {
        min-width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide_img {
        width: 300px;

        border-radius: 50%;
        object-fit: cover;
        height: 300px;
        display: block;
    }

    .carousel-container {
        position: relative;
        width: 90%;
        max-width: 800px;
        margin: auto;
        overflow: hidden;
        margin-bottom: 50px;
        display: block;
    }
        .lap-carousel-container{
            display: none;
        }
}


@media only screen and (min-width: 1200px) {
    .carousel-slide {
        min-width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide_img {
        width: 300px;

        border-radius: 50%;
        object-fit: cover;
        height: 300px;
        display: block;
    }

    .carousel-container {
        position: relative;
        width: 90%;
        max-width: 800px;
        margin: auto;
        overflow: hidden;
        margin-bottom: 50px;
        display: none;
    }

        .lap-carousel-container {
            display: block;
        }
}